.header {
    grid-column: full-start / full-end;

    display: flex;
    // justify-content: center;
    align-items: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 2rem;
    z-index: 99;
}